



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">

<p id="notice"><%= notice %></p>

<h1>Standards</h1>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Day</th>
      <th>lecture</th>
      <th>subject</th>
      <th>Teacher</th>

      
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
      <td data-search="<%= Timetable.find(standard).day%>"><%= Timetable.find(standard).day%></td>

        <td ><%= Timetable.find(standard).lecture%></td>

        <td><%= Timetable.find(standard).subject%></td>

    <td><%= Timetable.find(standard).teacher%></td>


       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    
   


