
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">


<style type="text/css">
 .page-header {
    
    border-bottom: 1px solid;
        border-bottom-color: currentcolor;
    margin-top: 60px;
}
  .bg-default .bg-default.darken, .bg-default.darken {
    background-color: #132a42!important;
    
}


.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

</style>


<div class="px-content">
    <div class="page-header">
      <h1><span class="text-muted font-weight-light" style="font-size:25px; color:#248689;"><i class="page-header-icon ion-ios-keypad" style=" margin-top: 60px;"></i><b>Dashboard</b></span></h1>
    </div>
<div class="row">

      <!-- Stats -->

      <div class="col-md-3">
        <div class="box bg-default darken">
          <div class="box-cell p-x-3 p-y-1">
            <div class="font-weight-semibold font-size-12">Teachers</div>
            <div class="font-weight-bold font-size-20"><%= Teacher.count %></div>
            <i class="box-bg-icon middle right font-size-52 ion-ios-people"></i>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box bg-default darken">
          <div class="box-cell p-x-3 p-y-1">
            <div class="font-weight-semibold font-size-12">Subjects</div>
            <div class="font-weight-bold font-size-20"><%= Subject.count %></div>
            <i class="box-bg-icon middle right font-size-52 ion-ios-box"></i>
          </div>
        </div>
      </div>
  
    <div class="col-md-3">
          <div class="box bg-default darken">
            <div class="box-cell p-x-3 p-y-1">
              <div class="font-weight-semibold font-size-12">Date</div>
              <div class="font-weight-bold font-size-20" id="div1"></div>
              <i class="box-bg-icon middle right font-size-52 ion-ios-cart"></i>
            </div>
          </div>
        </div>

      <div class="col-md-3">
        <div class="box bg-default darken">
          <div class="box-cell p-x-3 p-y-1">
            <div class="font-weight-semibold font-size-12">Time</div>
            <div class="font-weight-bold font-size-20" id="div2"></div>
            <i class="box-bg-icon middle right font-size-52 ion-ios-cart"></i>
          </div>
        </div>
      </div>

<script type="text/javascript">
    function displayTime()
    {
        var localTime = new Date();
        var year= localTime.getFullYear();
        var month= localTime.getMonth() +1;
        var date = localTime.getDate();
        var hours = localTime .getHours();
        var minutes = localTime .getMinutes();
        var seconds = localTime .getSeconds();
        var div=document.getElementById("div1");
        div.innerText=date+"-"+month+"-"+year;
        var div2=document.getElementById("div2");
        div2.innerText=hours+":"+minutes+":"+seconds;

    }
</script>
     
